/* CSS files add styling rules to your content */

body {
  background-color: cyan;
  scroll-behavior: smooth;
}

h1 {
  font-style: bold;
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
  text-align: center;
}
h2 {
  font-style: bold;
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
}
p {
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
}

.centerp {
  text-align: center;
}

.centered-image {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
