/* CSS files add styling rules to your content */

body {
  background-color: lightblue;
  scroll-behavior: smooth;
}

h1 {
  font-style: bold;
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
}
h2 {
  font-style: bold;
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
}
p {
  color: #373fff;
  font-family: verdana, Arial, sans-serif;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
body {
  margin: 0;

h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}

#globalHeader {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
